body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.weather-app{
    border:1px solid rgb(150, 147, 147);
    width: 50%;
    padding:20px;
    margin: 30px auto;
    margin-bottom: 0;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    color: #740a41;
}
li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    color: #740a41;
}
.weather-app-wrapper{
    margin: 0px auto;      
}
.weather-temp .tempNum{
    font-size:40 px;
    color: #740a41;
    font-weight: 800;
}
.weather-temp img{
    width: 60px;
    height: 65PX;

}

.units{
    font-size: 16px;
    position: relative;
    top: -13px;
}